@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
    background-color: #242423;
}

/*classes auxiliares*/
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 2%;
}

.clear {
    clear: both;
}

/*Musicas selecionadas*/
.musicas-selecionadas {
    width: 300px;
    color: white;
    text-align: center;
}

.musicas-selecionadas h3 {
    text-align: left;
    padding-left: 46px;
    font-size: 25px;
    font-weight: bold;
}

.musicas-selecionadas h1 {
    font-size: 40px;
    font-weight: bold;
}

.tres-partes {
    width: 31%;
    height: 5px;
    margin: 1%;
    background-color: #ccab1a;
    float: left;
}

/*conteúdo*/
.conteudo {
    box-shadow: 0px 0px 35px 0px #000000;
    margin-bottom: 60px;
    margin: 0 30px;
}

.selecao {
    width: 100%;
    height: 90px;
    background-color: #ccab1a;
    padding: 10px;
    position: relative;
}

.selecao p {
    color: #242423;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
}

.selecao select {
    text-align: center;
    position: relative;
    top: 12px;
    left: 50%;
    transform: translate(-50%);
    padding: 1px 10px;
    border-radius: 20px;
    color: #242423;
}

.modulo {
    padding: 15px 5%;
    text-align: center;
}

.modulo h4 {
    color: #ccab1a;
    font-size: 20px;
}

.modulo h2 {
    color: white;
    padding: px;
}

.modulo .cantor {
    color: white;
    margin-bottom: 25px;
}

.modulo button {
    border: 0;
    text-decoration: none;
    padding: 10px 30px;
    color: #242423;
    background-color: white;
    border-radius: 60px;
    margin-bottom: 20px;
    cursor: pointer;
}

.modulo button:hover {
    background-color: #e1e1e1;
}

/*Confirmar e cancelar*/
.final {
    text-align: center;
}

.final button {
    box-shadow: 0px 0px 10px 0px #000000;
    display: block;
    width: 100%;
    text-align: center;
    border: 0;
    color: #242423;
    padding: 15px 0;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
   
}

button#confirmar {
    background-color: #ccab1a;
}

#confirmar:hover {
    background-color: #bd9f17;
}

#cancelar:hover {
    background-color: #e1e1e1;
}

button#cancelar {
    background-color: white;
}