@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
    background-color: #242423;
}

/*classes auxiliares*/
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 2%;
}

.clear {
    clear: both;
}

/*Modal*/

/*fade*/
.fade {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/*Modal*/
.modal {
    z-index: 10;
    display: flex;
    position: fixed;
    color: white;
    top: 50%;
    left: 50%;
    max-width: 500px;
    width: 90%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    flex-direction: column;
    background-color: #242423;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 35px 0px #000000;
}

.modal-header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid white;
}

.modal-header button {
    background-color: #ccab1a;
    color: black;
    border-radius: 10px;
    border: 0;
    padding: 2px 10px;
    cursor: pointer;
}

.modal-main {
    padding: 10px;
}

.modal-main p,
h4 {
    font-weight: lighter;
}

.modal-main h2,
h3 {
    font-weight: 500;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccab1a;
    border-bottom-right-radius: 20px;
}

.modal-footer button {
    font-size: 15px;
    text-align: center;
    border: 0;
    padding: 10px 0;
    color: #242423;
    border-bottom-right-radius: 20px;
    width: 100%;
    cursor: pointer;
    background-color: #ccab1a;
}

.modal,
.fade {
    transition: .5s;
    opacity: 1;
    pointer-events: all;
    /*Para só habilitar os clicks quado a opacidade for 1*/
}

.modal.hide,
.fade.hide {
    opacity: 0;
    pointer-events: none;
    /*Para só habilitar os clicks quado a opacidade for 1*/
}

.modal.hide {
    top: 0;
}

/*Musicas selecionadas*/
.musicas-selecionadas {
    width: 300px;
    color: white;
    text-align: center;
}

.musicas-selecionadas h3 {
    text-align: left;
    padding-left: 13px;
    font-size: 25px;
    font-weight: bold;
}

.musicas-selecionadas h1 {
    font-size: 40px;
    font-weight: bold;
}

.tres-partes {
    width: 31%;
    height: 5px;
    margin: 1%;
    background-color: #ccab1a;
    float: left;
}

/*conteúdo*/
.conteudo {
    box-shadow: 0px 0px 35px 0px #000000;
    margin-bottom: 60px;
    margin: 0 30px;
}

/*Inicio*/

.inicio {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    flex-direction: column;
}

.inicio h1 {
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

.inicio select {
    margin: 15px;
    width: 120px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
}

/*Modulos*/

.modulo {
    padding: 15px 5%;
    text-align: center;
    border-bottom: #ccab1a 2px solid;
}

.modulo h4 {
    color: #ccab1a;
    font-size: 20px;
}

.modulo h2 {
    color: white;

}

.modulo .cantor {
    color: white;
    margin-bottom: 25px;
}

.modulo button {
    border: 0;
    text-decoration: none;
    padding: 10px 30px;
    color: #242423;
    background-color: white;
    border-radius: 60px;
    margin-bottom: 20px;
    cursor: pointer;
}

.modulo button:hover {
    background-color: #e1e1e1;
}

#adicionar {
    background-color: #ccab1a;
    font-weight: bold;
    color: white;
}

#adicionar:hover {
    background-color: #bd9f17;
}

#remover {
    background-color: #df2323;
    font-weight: bold;
    color: white;
}

#remover:hover {
    background-color: #cd2020;
}

/*Confirmar e cancelar*/
.final {
    text-align: center;
}

.final button {
    box-shadow: 0px 0px 10px 0px #000000;
    display: block;
    width: 100%;
    text-align: center;
    border: 0;
    color: #242423;
    padding: 15px 0;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;

}

button#confirmar {
    background-color: #ccab1a;
}

#confirmar:hover {
    background-color: #bd9f17;
}

#cancelar:hover {
    background-color: #e1e1e1;
}

button#cancelar {
    background-color: white;
}

/*ancoras*/
.ancoras a {
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

.ancoras a:hover {
    color: #ccab1a;
}